/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.clickable {
  color: blue;

  &:hover {
    color: lightblue;
    cursor: pointer;
  }
}
